    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    direction: rtl;
    text-align: right;
}

form{
    width: 400px;
    margin: 0 auto !important;
}

hr{
    border-top: 2px dashed #0d6efd;
}